.home{
    background-image: url("./photossss 1.png");
    padding-bottom: 150px;
}



.home-container{
    display:flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 85%;
    margin-top: 100px;
}

.text{
    padding-top: 5%;
}