body {
  font-family: monospace;
  background-color: ghostwhite;
}
.wrap {
 
  width: 75%;
 height: 65%;
  margin: 30px auto;
  margin-left: 5%;
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  
}
.product {
  position: relative;
  background: white;
  width: 310px;
  height: 500px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding-bottom: 1px;
  margin: 10px;
  transition-duration: 1s;
}
.product:hover {
  transform: scale(1.1);
}
.product-title {
  font-size: 22pt;
  font-weight: bold;
  text-align: center;
  padding: 20px 0px;
  text-transform: uppercase;
}
.price {
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
  margin: 20px 10px 5px 10px;
}
.price2{
  font-size: 10pt;
  font-weight: bold;
  color: #dc143c;
  margin: 20px 10px 5px 10px;
}
.product-descr {
  text-align: center;
  font-weight: bold;
  font-size: 12pt;
}
.product-descr p {
  margin: 13px 0px;
}
.duration {
width: 300px;
height: 250px;
  
 
  

}
.btn {
  position: absolute;
  bottom: 0px;
  left: 105px;
  text-decoration: none;
  color: white;
  display: block;
  width: 60px;
  border-radius: 10px;
  text-align: center;
  padding: 10px 20px;
  margin: 30px auto;
  font-size: 13pt;
}
.color1 {
  border-bottom: 4px solid #dc143c;
}

.btn-color1 {
  background: #dc143c;
}
